
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Müşteri Giriş</title>
    <link rel="stylesheet" href="~/otelhtmlandcss/musteriSign.css">
</head>
<body>
    <div class="container">
        <div class="adminlogo">
            <img src="~/otelhtmlandcss/2815428.png">
        </div>

        <div class="contact-form">
            <h2>Üye Ol</h2>
            <form>
                <div class="txtb">
                    <input type="text" placeholder="Name">
                </div>
                <div class="txtb">
                    <input type="text" placeholder="Surname">
                </div>
                <div class="txtb">
                    <input type="text" placeholder="Username">
                </div>
                <div class="txtb">
                    <input type="password" placeholder="Password">
                </div>
                <div class="txtb">
                    <input type="password" placeholder="Password Repeat">
                </div>
                <div>
                    <input type="button" class="logbtn" value="Sign Up" >
                </div>
            </form>
        </div>
    </div>
</body>
</html>