@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
</head>
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Admin Panel</h3>
        <a href="#" class="w3-bar-item w3-button btn-secondary" onclick="showContent('Misafir')">Misafir İşlemleri</a>
        <a href="#" class="w3-bar-item w3-button btn-dark" onclick="showContent('Personel')">Personel İşlemleri</a>
        <a href="#" class="w3-bar-item w3-button btn-secondary" onclick="showContent('Rezervasyon')">Rezervasyon İşlemleri</a>
        <a href="#" class="w3-bar-item w3-button btn-dark" onclick="showContent('Odalar')">Odalar</a>
        <a href="#" class="w3-bar-item w3-button btn-danger">Çıkış</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%">

        <div class="w3-container " style="background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);">
            <h1 style="color:white">Ercan Otel</h1>
        </div>

        <div class="w3-container">
            @RenderBody()

            <div id="contentMisafir" style="display: none;">
                <!-- Misafir İşlemleri sayfasının içeriği -->
                <h2>Misafir İşlemleri</h2>
                <p>Bu alanda misafirlerle ilgili işlemler gerçekleştirilebilir.</p>
            </div>

            <div id="contentPersonel" style="display: none;">
                <!-- Personel İşlemleri sayfasının içeriği -->
                <h2>Personel İşlemleri</h2>
                <p>Bu alanda personellerle ilgili işlemler gerçekleştirilebilir.</p>
            </div>

            <!-- Diğer içerikler -->
        </div>
    </div>

    <script>
        function showContent(contentName) {
            var contents = document.getElementsByClassName("w3-container");
            for (var i = 0; i < contents.length; i++) {
                contents[i].style.display = "none";
            }
            var content = document.getElementById("content" + contentName);
            content.style.display = "block";
        }
    </script>

</body>
</html>
