
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Müşteri Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
</head>
<body>

    <!-- Sidebar -->

    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
        <a href="#" class="w3-bar-item w3-button btn-info">Rezervasyon İşlemleri</a>
        <a href="#" class="w3-bar-item w3-button">Odalarımız ve Fiyat Listemiz</a>
        <a href="#" class="w3-bar-item w3-button">Üye Bilgileriniz</a>
        <a href="#" class="w3-bar-item w3-button btn-danger">Çıkış Yap</a>
    </div>

    <!-- Page Content -->

    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
        <div class="w3-container" style="background: rgb(0,134,42); background: linear-gradient(90deg, rgba(0,134,42,1) 9%, rgba(47,121,9,1) 34%, rgba(0,212,255,1) 100%);">
            <h1>Ercan Otel Keyifli Tatiller Diler</h1>
        </div>
    </div>

    <div class="w3-container">
        @RenderBody()
    </div>

    <script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
    </script>

</body>
</html>
